html * {
  box-sizing: border-box;
}

img.responsive {
  max-width: 100%;
  height: auto;
  display: block;
}

.box {
  width: 300px;
  height: 150px;
  background-color: silver;
}

.image-background-box {
  background-image: url(../img_terwin/logo_klein.png);
  background-repeat: no-repeat;
}

.image-background-box.responsive {
  background-size: contain;
}
