html * {
  box-sizing: border-box;
}

.inner-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-element-header {
  background: lightgreen;
  text-align: center;
  padding: 0 20%;
}

.teaser-wrapper {
  display: flex;
  background: lightgrey;
}

.teaser {
  flex: 1;
  background: grey;
  margin: 10px;
  text-align: center;
}

.teaser-image img {
  width: 100%;
  height: auto;
}
