html * {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}

.content {
    padding-top: 17vh;
    width: 80%;
    margin: 0 auto;
}

.contact {
    padding: 2rem 0;
}

.formular {
}

.address{
    padding: 2rem 0;
}

#google-maps {
    padding: 2rem 0;
}

.map iframe {
    max-width: 100%;
}

@media screen and (min-width: 992px) {

    .content {
        padding-top: 20vh;
        width: 80%;
        margin: 0 auto;
    }

    .contact {
        display: flex;
        padding: 5rem 0;
    }

    .formular {
        flex: 2;
    }

    .contact .address{
        flex: 1;
        padding-top: 4em;
    }

    .address a {
        color: var(--grey);
    }

    .map iframe {
        width: 100%;
    }
}