html * {
    box-sizing: border-box;
}

html, body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 110%;
    line-height: 1.75em;
}


/*var*/

:root {
    --main: "Josefin Sans", sans-serif;

    /*Headlines*/
    --h1-size: 3.5rem;
    --h1-size-sm: 2rem;
}

a {
    cursor: pointer;
    color: var(--grey);
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    font-weight: 300;
    color: var(--grey);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

h1 {
    text-align: center;
    font-size: var(--h1-size-sm);
    line-height: 1.2em;
}

address {
    color: var(--grey);
    font-style: normal;
}

@media screen and (min-width: 480px) {

    a {
        cursor: pointer;
        color: var(--grey);
        text-decoration: none;
        font-size: 0.8em;
        line-height: 1em;
    }

    h1, h2 {
        text-align: center;
        font-weight: 300;
        color: var(--grey);
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    h1 {
        text-align: center;
        font-size: var(--h1-size);
        line-height: 1.2em;
    }

    address {
        color: var(--grey);
        font-style: normal;
    }

}

@media screen and (min-width: 768px) {

    a {
        font-size: 1em;
        line-height: 1.75em;
    }
}


