html * {
     box-sizing: border-box;
 }

html, body {
    margin: 0;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}

/*img {*/
    /*width: 100%;*/
/*}*/

.content {
    width: 100%;
    padding: 3em 10%;
    margin: 0 auto 3em;

}
.content h1{
    margin-top: 0;
}

.content .two-columns {
    margin: 3em auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.two-columns .image,
.two-columns .image-odd,
.two-columns .infotext,
.two-columns .infotext-odd {

    text-align: left;
    color: var(--grey);

}

img.image-header {
    width: 100%;
}



@media screen and (min-width: 480px) {
    .content {
        margin-bottom: 5em;
        width: 80%;
        padding: 5em 0;
    }


}
@media screen and (min-width: 768px) {

    .content .two-columns {
        margin: 3em auto;
        text-align: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
    }

    .content .two-columns:nth-child(even) {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
    }


    .two-columns .image,
    .two-columns .infotext,
    .two-columns .image-odd,
    .two-columns .infotext-odd {
        flex: 1;
        margin: 0 2em;
        justify-content: center;
        align-self: center;
    }


    .two-columns .image {
        text-align: left;
    }
    .two-columns .infotext {
        text-align: right;

    }

    .two-columns .image-odd {
        text-align: right;

    }
    .two-columns .infotext-odd {
        text-align: left;

    }
}