html * {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}


/*var*/

img {
    max-width: 100%;
    height: auto;
}
.footer-container {
    background: var(--brown);
    padding: 2em 0;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footer address,
a {
    color: var(--white);
}

.copyright {
    padding: 2em 10%;
    text-align: right;
    background: var(--grey);
    color: var(--white);
    font-size: 0.8em;
    font-weight: lighter;
}

@media screen and (min-width: 480px) {
    .footer {
        display: flex;
        width: 80%;
        margin: 2em auto;
    }

    .footer .left {
        flex: 1;
        width: auto;
    }

    .footer .right{
        flex: 2;
        width: auto;
        text-align: right;
    }

    #footer-nav ul {
        display: inline;
    }

    #footer-nav ul li {
        text-align: right;
    }
    #footer-nav ul li a{
        padding: 0;
        color: var(--white);
    }

    #footer nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
        background: none;
    }

    .copyright {
        text-align: center;
        color: var(--white);
    }
    
}